<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- bean definition for PetrolEngine  -->
    <bean id="petrolEngine" class="org.example.PetrolEngine" />

    <!-- Bean definition for Car
     The 'engine' property of the Car bean is injected
     with a reference to the 'petrolEngine' bean -->
    <bean id="car" class="org.example.Car">
        <property name="engine" ref="petrolEngine" />   <!-- setEngine(PetrolEngine engine) method needin Car  -->
    </bean>

</beans>
